@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

body {
    font-family:  "Noto Sans Arabic", sans-serif;
}